<h3>Cart</h3>
<div *ngIf="products && products.length > 0 else emptyCart">
    <div class="cart-item" *ngFor="let product of products">
        <p>
            <span>{{product.name}}</span>
            <span>{{product.price | currency}}</span>
        </p>
    </div>
</div>
<ng-template #emptyCart>
    <p [ngStyle]="{'text-align': 'center'}">Cart Empty</p>
</ng-template>
<a routerLink="/shippingcosts">Shipping Costs</a>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">
            Name
        </label>
        <input  type="text" formControlName="name">
    </div>

    <div>
        <label for="address">
            Address
        </label>
        <input  type="text" formControlName="address">
    </div>
    <button class="button" type="submit">Submit</button>
</form>